.master-page-container {
  // border: 8px solid #eee;
  .mp-layout {
    background: inherit;
    .mpl-layout {
      background: inherit;
      .holder-content {
        padding: 10px;
      }
      .holder-search {
        width: 100%;
        padding: 10px 16px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
        > div {
          width: 100%;
        }
      }
      .mp-side {
        height: 100%;
        padding: 10px 0 10px 10px;
        background: #f0f2f5;
        .mp-side-content {
          background: #fff;
          padding: 10px;
        }
      }
    }

    .holder-top {
      background: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      > div {
        width: 100%;
      }
    }
    .ant-page-header {
      padding: 16px;
    }
  }
}
